<table class="border-separate border border-black table-auto mx-auto text-center w-9/12">
  <thead>
    <tr>
      <th class="bg-blue-500 text-white"></th>
      <th class="bg-blue-500 text-white">姓名</th>
      <th class="bg-blue-500 text-white">隊伍</th>
      <th class="bg-blue-500 text-white">位置</th>
      <th class="bg-blue-500 text-white">G</th>
      <th class="bg-blue-500 text-white">AVG</th>
      <th class="bg-blue-500 text-white"><%= link_to 'OBP', players_path(order_by: 'obp', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'SLG', players_path(order_by: 'slg', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'OPS', players_path(order_by: 'ops', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'AB', players_path(order_by: 'ab', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'R', players_path(order_by: 'r', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'H', players_path(order_by: 'h', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to '2B', players_path(order_by: 'd', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to '3B', players_path(order_by: 't', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'HR', players_path(order_by: 'hr', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'RBI', players_path(order_by: 'rbi', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'BB', players_path(order_by: 'bb', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'K', players_path(order_by: 'so', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'SB', players_path(order_by: 'sb', desc: params['desc'] == 'y' ? 'n' : 'y') %></th>
    </tr>
  </thead>
  <tbody>
    <% cpbl_hitter.each_with_index do |player, index| %>
      <tr class=<%= "#{index.even? ? 'bg-blue-100' : 'bg-blue-50'}" %>>
        <td><%= index + 1 %></td>
        <td><%= player.name %></td>
        <td><%= player.attr_team_name %></td>
        <td><%= player.code.upcase %></td>
        <td><%= player.g %></td>
        <td><%= player.avg %></td>
        <td><%= player.obp %></td>
        <td><%= player.slg %></td>
        <td><%= player.ops %></td>
        <td><%= player.ab %></td>
        <td><%= player.r %></td>
        <td><%= player.h %></td>
        <td><%= player.d %></td>
        <td><%= player.t %></td>
        <td><%= player.hr %></td>
        <td><%= player.rbi %></td>
        <td><%= player.bb %></td>
        <td><%= player.so %></td>
        <td><%= player.sb %></td>
      </tr>
    <% end %>
  </tbody>
</table>
