<table class="border-collapse border border-green-800">
  <thead>
    <tr>
      <th class="border border-green-600 ">姓名</th>
      <th class="border border-green-600 ">G</th>
      <th class="border border-green-600 ">GS</th>
      <th class="border border-green-600 ">W</th>
      <th class="border border-green-600 ">L</th>
      <th class="border border-green-600 ">SV</th>
      <th class="border border-green-600 ">BS</th>
      <th class="border border-green-600 ">HLD</th>
      <th class="border border-green-600 ">CG</th>
      <th class="border border-green-600 ">SHO</th>
      <th class="border border-green-600 ">IP</th>
      <th class="border border-green-600 ">H</th>
      <th class="border border-green-600 ">R</th>
      <th class="border border-green-600 ">ER</th>
      <th class="border border-green-600 ">HR</th>
      <th class="border border-green-600 ">BB</th>
      <th class="border border-green-600 ">K</th>
      <th class="border border-green-600 ">ERA</th>
      <th class="border border-green-600 ">WHIP</th>
    </tr>
  </thead>
  <tbody>
    <% cpbl_pitcher.each do |player| %>
      <tr>
        <td class="border border-green-600"><%= player.name %></td>
        <td class="border border-green-600"><%= player.pitching_stat_g %></td>
        <td class="border border-green-600"><%= player.pitching_stat_gs %></td>
        <td class="border border-green-600"><%= player.pitching_stat_w %></td>
        <td class="border border-green-600"><%= player.pitching_stat_l %></td>
        <td class="border border-green-600"><%= player.pitching_stat_sv %></td>
        <td class="border border-green-600"><%= player.pitching_stat_bs %></td>
        <td class="border border-green-600"><%= player.pitching_stat_hld %></td>
        <td class="border border-green-600"><%= player.pitching_stat_cg %></td>
        <td class="border border-green-600"><%= player.pitching_stat_sho %></td>
        <td class="border border-green-600"><%= player.pitching_stat_ip %></td>
        <td class="border border-green-600"><%= player.pitching_stat_h %></td>
        <td class="border border-green-600"><%= player.pitching_stat_r %></td>
        <td class="border border-green-600"><%= player.pitching_stat_er %></td>
        <td class="border border-green-600"><%= player.pitching_stat_hr %></td>
        <td class="border border-green-600"><%= player.pitching_stat_bb %></td>
        <td class="border border-green-600"><%= player.pitching_stat_so %></td>
        <td class="border border-green-600"><%= player.pitching_stat_era %></td>
        <td class="border border-green-600"><%= player.pitching_stat_whip %></td>
      </tr>
    <% end %>
  </tbody>
</table>
