<table class="border-separate border border-black text-center w-full">
  <thead>
    <tr>
      <th class="bg-blue-500 text-white"></th>
      <th class="bg-blue-500 text-white">姓名</th>
      <th class="bg-blue-500 text-white">隊伍</th>
      <th class="bg-blue-500 text-white">位置</th>
      <th class="bg-blue-500 text-white"><%= link_to 'G', players_path(search_params('g')) %></th>
      <th class="bg-blue-500 text-white">GS</th>
      <th class="bg-blue-500 text-white"><%= link_to 'W', players_path(search_params('w')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'L', players_path(search_params('l')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'SV', players_path(search_params('sv')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'HLD', players_path(search_params('hld')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'IP', players_path(search_params('ip')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'H', players_path(search_params('h')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'R', players_path(search_params('r')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'ER', players_path(search_params('r')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'HR', players_path(search_params('hr')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'BB', players_path(search_params('bb')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'K', players_path(search_params('so')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'ERA', players_path(search_params('era')) %></th>
      <th class="bg-blue-500 text-white"><%= link_to 'WHIP', players_path(search_params('whip')) %></th>
    </tr>
  </thead>
  <tbody>
    <% cpbl_pitcher.each_with_index do |player, index| %>
      <tr class=<%= "#{index.even? ? 'bg-blue-100' : 'bg-blue-50'}" %>>
        <td><%= index + 1 %></td>
        <td><%= link_to player.name, player_path(player.id) %></td>
        <td><%= player.attr_team_name %></td>
        <td><%= player.code.upcase %></td>
        <td><%= player.g %></td>
        <td >0</td>
        <td ><%= player.w %></td>
        <td ><%= player.l %></td>
        <td ><%= player.sv %></td>
        <td ><%= player.hld %></td>
        <td ><%= player.ip %></td>
        <td ><%= player.h %></td>
        <td ><%= player.r %></td>
        <td ><%= player.er %></td>
        <td ><%= player.hr %></td>
        <td ><%= player.bb %></td>
        <td ><%= player.so %></td>
        <td ><%= player.era %></td>
        <td ><%= player.whip %></td>
      </tr>
    <% end %>
  </tbody>
</table>
