<table class="border-separate border border-black table-auto mx-auto text-center w-9/12">
  <thead>
    <tr>
      <th class="bg-blue-500 text-white">姓名</th>
      <th class="bg-blue-500 text-white">隊伍</th>
      <th class="bg-blue-500 text-white">位置</th>
      <th class="bg-blue-500 text-white">G</th>
      <th class="bg-blue-500 text-white">GS</th>
      <th class="bg-blue-500 text-white">W</th>
      <th class="bg-blue-500 text-white">L</th>
      <th class="bg-blue-500 text-white">SV</th>
      <th class="bg-blue-500 text-white">HLD</th>
      <th class="bg-blue-500 text-white">IP</th>
      <th class="bg-blue-500 text-white">H</th>
      <th class="bg-blue-500 text-white">R</th>
      <th class="bg-blue-500 text-white">ER</th>
      <th class="bg-blue-500 text-white">HR</th>
      <th class="bg-blue-500 text-white">BB</th>
      <th class="bg-blue-500 text-white">K</th>
      <th class="bg-blue-500 text-white">ERA</th>
      <th class="bg-blue-500 text-white">WHIP</th>
    </tr>
  </thead>
  <tbody>
    <% cpbl_pitcher.each_with_index do |player, index| %>
      <tr class=<%= "#{index.even? ? 'bg-blue-100' : 'bg-blue-50'}" %>>
        <td><%= player.name %></td>
        <td><%= player.attr_team_name %></td>
        <td><%= player.code.upcase %></td>
        <td><%= player.g %></td>
        <td >0</td>
        <td ><%= player.w %></td>
        <td ><%= player.l %></td>
        <td ><%= player.sv %></td>
        <td ><%= player.hld %></td>
        <td ><%= player.ip %></td>
        <td ><%= player.h %></td>
        <td ><%= player.r %></td>
        <td ><%= player.er %></td>
        <td ><%= player.hr %></td>
        <td ><%= player.bb %></td>
        <td ><%= player.so %></td>
        <td ><%#= player.pitching_stat_era %></td>
        <td ><%#= player.pitching_stat_whip %></td>
      </tr>
    <% end %>
  </tbody>
</table>
