<table class="border-separate border border-black text-center w-full">
  <thead>
    <tr>
      <th class="bg-blue-500 text-white">AB</th>
      <th class="bg-blue-500 text-white">R</th>
      <th class="bg-blue-500 text-white">H</th>
      <th class="bg-blue-500 text-white">2B</th>
      <th class="bg-blue-500 text-white">3B</th>
      <th class="bg-blue-500 text-white">HR</th>
      <th class="bg-blue-500 text-white">RBI</th>
      <th class="bg-blue-500 text-white">BB</th>
      <th class="bg-blue-500 text-white">K</th>
      <th class="bg-blue-500 text-white">SB</th>
      <th class="bg-blue-500 text-white">CS</th>
      <th class="bg-blue-500 text-white">AVG</th>
      <th class="bg-blue-500 text-white">OBP</th>
      <th class="bg-blue-500 text-white">SLG</th>
      <th class="bg-blue-500 text-white">OPS</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-blue-100" >
      <td><%= player_game_logs.ab %></td>
      <td><%= player_game_logs.r %></td>
      <td><%= player_game_logs.h %></td>
      <td><%= player_game_logs.d %></td>
      <td><%= player_game_logs.t %></td>
      <td><%= player_game_logs.hr %></td>
      <td><%= player_game_logs.rbi %></td>
      <td><%= player_game_logs.bb %></td>
      <td><%= player_game_logs.so %></td>
      <td><%= player_game_logs.sb %></td>
      <td><%= player_game_logs.cs %></td>
      <td><%= player_game_logs.avg %></td>
      <td><%= player_game_logs.obp %></td>
      <td><%= player_game_logs.slg %></td>
      <td><%= player_game_logs.ops %></td>
    </tr>
  </tbody>
</table>
