<table class="border-separate border border-black text-center w-full">
  <thead>
    <tr>
      <th class="bg-blue-500 text-white">W</th>
      <th class="bg-blue-500 text-white">L</th>
      <th class="bg-blue-500 text-white">SV</th>
      <th class="bg-blue-500 text-white">HLD</th>
      <th class="bg-blue-500 text-white">IP</th>
      <th class="bg-blue-500 text-white">H</th>
      <th class="bg-blue-500 text-white">R</th>
      <th class="bg-blue-500 text-white">ER</th>
      <th class="bg-blue-500 text-white">BB</th>
      <th class="bg-blue-500 text-white">K</th>
      <th class="bg-blue-500 text-white">ERA</th>
      <th class="bg-blue-500 text-white">WHIP</th>
      <th class="bg-blue-500 text-white">BAA</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-blue-100">
      <td><%= player_game_logs.w %></td>
      <td><%= player_game_logs.l %></td>
      <td><%= player_game_logs.hld %></td>
      <td><%= player_game_logs.sv %></td>
      <td><%= player_game_logs.ip %></td>
      <td><%= player_game_logs.h %></td>
      <td><%= player_game_logs.r %></td>
      <td><%= player_game_logs.er %></td>
      <td><%= player_game_logs.bb %></td>
      <td><%= player_game_logs.so %></td>
    </tr>
  </tbody>
</table>
